{% extends 'main.html' %}

{% block content %}

    {% if page == 'login' %}

    <!--Login page-->
    
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <br><br>
            <div class="card text-bg-light mb-3 shadow-lg mb-10" >
                <div class="card-header">Login</div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <label for="exampleInputEmail1" class="form-label" style="float: left;">Email</label><br>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="email" /><br>
                            <label for="exampleInputPassword1" class="form-label" style="float: left;">Password</label>
                            <input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="password" /><br>
                            <input class="btn btn-outline-primary" type="submit" value="login" />
                        </form><br>
                        <p>Haven't signed up yet? <a href="{% url 'register' %}">Sign Up</a> </p>
                        
                        {% if messages %}
                        <div class="alert alert-danger text-center">
                            <div class="row">
                                {% for message in messages %}
                                <div class="col">
                                    {{message}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
    
    </div>

    {% else %}


     <!--Register page-->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <div class="card text-bg-light mb-3 shadow-lg mb-10" >
                    <div class="card-header"><h3 class="text-center">Register</h3></div>
                        <div class="card-body" >
                            <form class="form" method="POST" action="">
                                {% csrf_token %}
                                {{form.as_p}}                                
                                 <input class="btn btn-outline-primary" type="submit" value="Register" />
                            </form><br>
                            <p>Already have an account? 
                                <a href="{% url 'login' %}">login</a> 
                            </p>
            
                            {% if messages %}
                            <div class="alert alert-danger text-center">
                                <div class="row">
                                    {% for message in messages %}
                                    <div class="col">
                                        {{message}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        

   
    
    {% endif %}
{% endblock %}