{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
				<div class="card text-bg-light mb-3 shadow mb-10" >

                    <!-- first cards header-->
                    <div class="card-header">
                        <a href="{% url 'home' %}" style="text-decoration: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                            <i class="bi bi-arrow-left">Home Room</i>
                        </a>
                        <kbd class="align-right">Recent Activities</kbd> 
                    </div>
                    <div class="card-body" id="scrollable" style="height: 620px;" >
                      
                      <!-- Second card header -->
                      {% for message in room_messages %}
                      <div class="card card-body text-bg-light border-primary">
                        <div class="card-title">
                            <p class="card-text" style="float: right;">
                                
                                <!-- delete icons -->
                                {% if request.user == message.user %}
                                <a href="{% url 'delete-message' message.id %}" class="card-link" style="text-decoration: None;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                                {% endif %}
                            </p>
                            <a href="{% url 'user-profile' message.user.id %}" style="text-decoration: None;">
                                <p class="card-text">
                                    <span class="input-group-text" width="2" id="basic-addon1">
                                        <img class="img-circle" src="{{message.user.avatar.url}}" width="30px" height="30px" style="border-radius: 1000px;"/>
                                        @{{message.user.username}}
                                    </span>
                                <span><i class="text-muted">{{message.created|timesince}}</i></span>
                                </p>								
                            </a>
                        </div>
              
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p class="card-text">
                            Replied to Post:
                                <i class="text-muted">
                                    <a href="{% url 'room' message.room.id %}" style="text-decoration: none;">
                                        {{message.room}}
                                    </a>
                                </i>
                            </p>
                        </h6>
                        <div class="card card-body" id="bg">
                            <p class="card-text">{{message}}</p>
                        </div><br>
                      </div><br>
                      {% endfor %}
                      
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}