{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card shadow-lg mb-5">
                <div class="card-header">

                    <a href="{% url 'home' %}" style="text-decoration: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                        <i class="bi bi-arrow-left">Back Home</i>
                    </a>
                    <kbd class="align-right">Create/Update Room</kbd>
                </div>
                <div class="card-body bg-light">
                    <form class="form" action="" method="POST">
                        {% csrf_token %}
                        <div>
                            <label for="exampleFormControlInput1" class="form-label">Topic name</label><br>
                            <input required type="text" value="{{room.topic.name}}" name="topic" list="topic-list">
                            <datalist id="topic-list">
                                <select>
                                    {% for topic in topics %}
                                    <option value="{{topic.name}}">{{topic.name}}</option>
                                    {% endfor %}
                                </select>
                            </datalist>
                        </div>
                        <div>
                            <label for="exampleFormControlInput1" class="form-label">Room Name</label><br>
                            {{form.name}}
                        </div>
                        <div>
                            <label for="exampleFormControlInput1" class="form-label">Room Description</label><br>
                            {{form.description}}
                        </div>
                        <a href="{% url 'home' %}" class="btn btn-outline-dark">
                            cancel
                        </a>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}